<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_ninja_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
</head>
<First>
    <h1>New Ninja</h1>
    <form action = "/createninja", method = "POST">
        <label>Dojo: </label>
        <select name = 'dojo_id'>
            {% for dojo in all_dojos %}
            <option value = "{{dojo['id']}}">{{dojo['name']}}</option>
            {% endfor %}
        </select>
        <br>
        <label>First Name: </label> <input type = "text" name="fname">
        <br>
        <label>Last Name: </label> <input type = "text" name="lname">
        <br>
        <label>Age: </label> <input type = "text" name="age">
        <br>
        <input class='btn' type= "submit" value = "Create">
    </form>
    <a href ="/dojos">Home</a>
</body>
</html>